name: Master Build
# For master push: Builds and publishes the development version to bintray/maven
on:
  push:
    branches:
      - master
jobs:
  buildAndPublish:
    runs-on: ubuntu-latest
    container: openjdk:8u131-jdk
    env:
      BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
      BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
      MAVEN_CENTRAL_USER: ${{ secrets.MAVEN_CENTRAL_USER }}
      MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew assemble && ./gradlew check --info && ./gradlew bintrayUpload -x check --info
