name: invoke_test_runner
on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      BRANCH_INPUT:
        description: 'Branch'
        required: true
      COMMIT_HASH_INPUT:
        description: 'Commit hash'
        required: true
      CLASSES_TO_EXECUTE_INPUT:
        description: 'Classes to test'
        required: false
      PULL_REQUEST_NUMBER_INPUT:
        description: 'Pull request number'
        required: false
env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  QUEUE_ID: ${{ secrets.QUEUE_ID }}
  LOCATION: ${{ secrets.LOCATION }}
  SERVICE_ACCOUNT_EMAIL: ${{ secrets.SERVICE_ACCOUNT_EMAIL }}
  WORKFLOW_URL: ${{ secrets.WORKFLOW_URL }}
  #Payload variables
  COMMIT_HASH: ${{ (github.sha) }}
  BRANCH: ${{ (github.ref_name) }}
  CLASSES: ${{ (github.event.inputs.CLASSES_TO_EXECUTE_INPUT) }}
  PULL_REQUEST_NUMBER: ${{ (github.event.inputs.PULL_REQUEST_NUMBER_INPUT) }}

jobs:
  execute_workflow:
    if: github.repository == 'graphql-java/graphql-java'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - run: npm install --prefix .github/workflows

      - name: Update COMMIT_HASH
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "COMMIT_HASH=${{ (github.event.inputs.COMMIT_HASH_INPUT) }} " >> $GITHUB_ENV

      - name: Update BRANCH
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "BRANCH=${{ (github.event.inputs.BRANCH_INPUT) }} " >> $GITHUB_ENV

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@v2.1.2
        with:
          credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

      - name: Execute JS script
        run: node .github/workflows/create_job.js
