name: Master Build and Publish
# For master push: Builds and publishes the development version to maven
on:
  push:
    branches:
      - master
permissions: # For test summary bot
  checks: write
jobs:
  buildAndTest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradle-argument: [ 'assemble && ./gradlew check -x test','testWithJava11', 'testWithJava17','testWithJava21', 'test -x testWithJava11 -x testWithJava17 -x testWithJava21' ]
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'corretto'
      - name: build and test
        run: ./gradlew ${{matrix.gradle-argument}} --info --stacktrace
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.22.0
        if: always()
        with:
          files: |
            **/build/test-results/test/TEST-*.xml
            **/build/test-results/testWithJava11/TEST-*.xml
            **/build/test-results/testWithJava17/TEST-*.xml
            **/build/test-results/testWithJava21/TEST-*.xml
  javadoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'corretto'
      - name: Verify Javadoc
        run: ./gradlew javadoc --info --stacktrace
  publishToMavenCentral:
    needs: buildAndTest
    runs-on: ubuntu-latest
    env:
      MAVEN_CENTRAL_USER: ${{ secrets.MAVEN_CENTRAL_USER }}
      MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      MAVEN_CENTRAL_USER_NEW: ${{ secrets.MAVEN_CENTRAL_USER_NEW }}
      MAVEN_CENTRAL_PASSWORD_NEW: ${{ secrets.MAVEN_CENTRAL_PASSWORD_NEW }}
      MAVEN_CENTRAL_PGP_KEY: ${{ secrets.MAVEN_CENTRAL_PGP_KEY }}

    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'corretto'
      - name: publishToMavenCentral
        run: ./gradlew assemble && ./gradlew check -x test -x testng --info && ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -x check --info --stacktrace
